@import url('./styles/index.scss');

.layout {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // .wrapper {
    //     background-color: #1B262C;
    //     .sider {
    //         margin: 20px;
    //         height: calc(100% - 40px);
    //         width: calc(100% - 40px); 
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;
    //         row-gap: 20px;
    //         font-family: "Poiret One", serif;
    //         font-weight: 400;
    //         font-style: normal;
    //     }
    // }
    
    // .content {
    //     margin: 20px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     gap: 20px;
    //     min-height: calc(100vh - 40px);
    // }
    :global {
        .ant-layout-sider {
           width: 40% !important;
          //  min-width: unset !important;
           max-width: unset !important;
           flex: 0 0 auto !important;
        }
     }
}

@media (max-width: 425px) {
    .layout {
      .wrapper {
        width: 100% !important;
      }
    }
  
    :global {
      .ant-layout {
        flex-direction: column !important;
      }
      .ant-layout-sider {
        min-width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
      }
      .ant-layout-content {
        width: calc(100% - 40px) !important;
        justify-content: start !important;
      }
    }
  }