@import url('./styles/index.scss');

.layout {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    :global {
        .ant-layout-sider {
           width: 40% !important;
           max-width: unset !important;
           flex: 0 0 auto !important;
        }
     }
}

@media (max-width: 425px) {
    .layout {
      .wrapper {
        width: 100% !important;
      }
    }
  
    :global {
      .ant-layout {
        flex-direction: column !important;
      }
      .ant-layout-sider {
        min-width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
      }
      .ant-layout-content {
        width: calc(100% - 40px) !important;
        justify-content: start !important;
      }
    }
  }