.wrapper {
    .mainInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .title {
            margin-bottom: 0;
        }
        .warm {
            color: #FFCC99;
        }
        .cold {
            color: #B0E0E6;
        }
    }
}
